#/usr/share/kservices5/ServiceMenus/imageresizer.desktop
#/usr/share/kde4/services/ServiceMenus/imageresizer.desktop

[Desktop Entry]
Type=Service
MimeType=image/*;
Actions=cr2hdr;resizesq;resizes;resizeq;resizeqs;resizef;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Image Tools

[Desktop Action cr2hdr]
Name=cr2hdr
Exec=cr2hdr-bin %f

[Desktop Action resizesq]
Name=Resize S Q
Exec=resizer -f %f

[Desktop Action resizes]
Name=Resize S
Exec=resizer -f %f -k s

[Desktop Action resizeq]
Name=Resize Q
Exec=resizer -f %f -k q

[Desktop Action resizeqs]
Name=Resize QS
Exec=resizer -f %f -k qs

[Desktop Action resizef]
Name=Resize F
Exec=resizer -f %f -k f
